body {
    padding: 0px;
    margin: 0px;
}

main {
    padding: 16px;
    margin-bottom: 24px;
}

footer {
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 20px;
    padding-right: 0px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: greenyellow;
}

img{
    height: 200px;
}

nav{
    border-bottom: 1px solid black;
    padding: 16px;
    background-color: orangered;
}

.recipelist{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

.recipe a{
    text-decoration: none;
    color:inherit;
}

.recipe h3{
    color: green;
}

.recipe a:hover{
    opacity: .8;
}

h1{
    color: teal;
}

.eo{
    background-color: rgb(207, 207, 207);
}
